<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="./css/style.css" />
    </head>
    <body>
        <div class="main">
            <div class="heading">Roman Dataset</div>
            <div class="subtitle">
                Open source project to help create dataset for <strong>Nepali Roman Language</strong>. Record, write and verify the data. Your
                collaboration will help us create a perfect dateset for roman language.
            </div>
            <div class="buttons">
                <a href="/record">
                    <div class="button">
                        <img src="./svg/microphone-2-svgrepo-com.svg" alt="" class="icon" />
                        <label>Record</label>
                    </div>
                </a>
                <a href="/write">
                    <div class="button">
                        <img src="./svg/write-svgrepo-com.svg" alt="" class="icon" />
                        <label>Write</label>
                    </div>
                </a>
                <a href="/verify">
                    <div class="button">
                        <img src="./svg/check-svgrepo-com.svg" alt="" class="icon" />
                        <label>Verify</label>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>
